<div class="footer-top">
  <div class="newsletter">
    <form action="#">
      <label for="newsletter-signup">Newsletter Signup</label>
      <input type="text" name="newsletter-signup" />
      <input class="button" type="submit" value="Signup" />
    </form>

  </div>
  <div class="shop">
    <%= link_to "Shop", products_url %>
    <div class="detail">
      <span><%= @random_product ? @random_product.short_description : 'Find something for yourself and help us out' %></span>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => "Mobility for Independence") %>

<ol class="footer-links">
  <%= render :partial => "shared/footer_link", :collection => pages_for_footer %>
</ol>

</div>
<%= render :partial => 'shared/javascripts' %>
