<ul id="rotator">
  <li><%= image_tag "/images/rotator/key-to-independence.png",      :size => '960x328', :alt => "You're the key to indepedence. Come help us open some doors." %></li>
  <li><%= image_tag "/images/rotator/3-million-banner.png",         :size => '960x328', :alt => "There are nearly 3 million wheelchair users in the United States." %></li>
  <li><%= image_tag "/images/rotator/average-cost-banner.png",      :size => '960x328', :alt => "The average cost of a handicap accessible vehcile is $25,000 - $45,000." %></li>
  <li><%= image_tag "/images/rotator/mobility-critical-banner.png", :size => '960x328', :alt => "Mobility is critical to an individual's self esteem and self-reliaance." %></li>
</ul>


<div class="tagline">
  <p>Mobility for Independence is committed to improving the lives of children and adults
  with disabilities by helping provide a means for them to be more mobile.</p>
</div>

<div class="callouts">
  <div class="block">
    <div class="title">Featured Family <span>&mdash;</span></div>
      <%= image_tag "/images/winning.jpg", :class => "family-img", :height => "82", :width => "96" %>
      <strong>Oswalt Cobbelpot</strong>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
      <%= link_to "More Stories", "#", :class=>"button" %>
  </div>
  <div class="block">
    <div class="title">Donate Today <span>&mdash;</span></div>
      <p>Since 1990, we've provided mobility equipment to disabled children and adults within our community.  Your donation will allow us to continue supporting the disabled community.</p>

      <%= link_to "Donate", "/giving/donate", :class=>"donate-button" %>
  </div>
  <div class="block">
    <div class="title">News Around Mobility <span>&mdash;</span></div>
      <strong>Oswalt Cobbelpot</strong>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
      <%= link_to "More News", '/newsroom', :class=>"button" %>
  </div>
</div>
<%- content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.cycle.all.min', 'homepage_content_fader' %>
<%- end -%>
