<%= image_tag "/images/rotator/key-to-independence.png" %>

<div class="tagline">
  <p>Mobility for Independence is committed to improving the lives of children and adults
  with disabilities by helping provide a means for them to be more mobile.</p>
</div>

<div class="callouts">
  <div class="block">
    <div class="title">Featured Family <span>&mdash;</span></div>
      <%= image_tag "/images/winning.jpg", :class => "family-img", :height => "82", :width => "96" %>
      <strong>Oswalt Cobbelpot</strong>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
      <%= link_to "More Stories", "#", :class=>"button" %>
  </div>
  <div class="block">
    <div class="title">Donate Today <span>&mdash;</span></div>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>

      <%= link_to "Donate", "#", :class=>"donate-button" %>
  </div>
  <div class="block">
    <div class="title">News Around Mobility <span>&mdash;</span></div>
      <strong>Oswalt Cobbelpot</strong>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
      <%= link_to "More News", "#", :class=>"button" %>
  </div>
</div>
